.container {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  align-self: center;
  margin: 1%;
  border-radius: 40px;
}

.image {
  width: 60%;
  padding: 0.5%;
  border-radius: 40px;
  max-height: 60%;
  object-fit: cover;
}

.content {
  padding: 1%;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.launch_name {
  font-size: xx-large;
  font-weight: bolder;
}

.launch_data {
  padding: 4px;
  margin-bottom: 10px;
}

.launch_data_description {
  color: grey;
  padding: 4px;
  margin-bottom: 10px;
}

.launch_data_link {
  text-decoration: none;
  margin: 2%;
  font-size: x-large;
}

.launch_data_upcoming {
  color: #0070f3;
  margin-top: 5px;
}

.launch_data_outcome_success {
  color: green;
  margin-top: 5px;
}

.launch_data_outcome_failure {
  color: grey;
  margin-top: 5px;
}

.launch_data_link a:hover {
  color: #0070f3;
}

.media_content {
  list-style-type: none;
  display: flex;
  text-align: left;
  margin-top: 10px;
}
